# dependencies
node_modules/

# production bundles
dist/
public/js/app.js
.idea/
# SQL
SQL

#environment variables
.env

# other
.vscode/*
!.vscode/extensions.json
harrynotes.md
.DS_Store
.fleet/
logsOverwrite.csv
harryIgnoreFiles/